body {
  font-family: Arial, sans-serif !important;
  background-color: #fcf9ea !important;
}

.card {
  margin-bottom: 20px !important;
  transition: transform 0.3s ease-in-out !important;
}

.card:hover {
  transform: scale(1.05) !important;
  cursor: pointer !important;
}

.galleryImg {
  margin-top: 20px; /* Add margin to the top of the gallery */
}
