body 
{
    font-family: Arial, sans-serif !important;
    background-color: #fcf9ea !important;
}

.section-heading 
{
    color: #007EA7 !important;
    font-size: 2.5rem !important; /* Increase font size for the title */
}

.subsection-heading 
{
    color: #00A7E1 !important;
}

/* Navbar styles */
.navbar 
{
    background-color: #d9e8ef !important;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1) !important; /* Add shadow effect */
}

.navbar-brand 
{
    color: #007EA7 !important; /* Change header text color to blue */
    font-size: 2rem !important; /* Increase font size for the header */
}

.navbar-nav .nav-link 
{
    color: #007EA7 !important; /* Change nav link text color to blue */
    transition: color 0.3s ease !important; /* Add transition effect for smoother color change */
}

.navbar-nav .nav-link:hover 
{
    color: #00A7E1 !important; /* Change nav link text color on hover */
}

/* Content styles */
.about-us, .vision, .smart-bands 
{
    background-color: #ffffff !important;
    border-radius: 10px !important;
    margin-bottom: 20px !important;
    padding: 20px !important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1) !important;
}

.about-us p, .vision p, .smart-bands p 
{
    color: #333 !important;
}

/* Hover effect on text frames */
.about-us:hover, .vision:hover, .smart-bands:hover 
{
    transform: translateY(-5px) !important; /* Move the frame up slightly on hover */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2) !important; /* Add shadow effect on hover */
}
