/* Navbar styles */
body 
{
  overflow-y: scroll; /* Always show scrollbar */
}

.navbar 
{
  background-color: #d9e8ef !important;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1) !important; /* Add shadow effect */
}
  
.navbar-nav .nav-link 
{
  color: #193448 !important; /* Change nav link text color to blue */
  transition: color 0.3s ease !important; /* Add transition effect for smoother color change */
  font-weight: bold !important;
  font-size: 20px !important; /* Increase font size for the header */
}

.navbar-nav .nav-link:hover 
{
  color: #21435d5d !important; /* Change nav link text color on hover */
}